NEXT_PUBLIC_CLUSTER=devnet
NEXT_PUBLIC_RPC=https://api.devnet.solana.com
NEXT_PUBLIC_RPC_BACKUP=https://api.devnet.solana.com
NEXT_PUBLIC_API_BASE=http://localhost:7791
NEXT_PUBLIC_FINALWHISTLE_PROGRAM_ID=GSud9smJwwV6QhDLd2hmSQPShj1w8zYumz5BL3snbmao
NEXT_PUBLIC_TXLINE_PROGRAM_ID=6pW64gN1s2uqjHkn1unFeEjAwJkPGHoppGvS715wyP2J
NEXT_PUBLIC_USDC_MINT=Gh9ZwEmdLJ8DscKNTkTqPbNwLNNBjuSzaG9Vp2KGtKJr
